<html>
  <head>
    <title>Thank You</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' />
  </head>
  <body>
    <div style="background-image: url(https://images.pexels.com/photos/1862695/pexels-photo-1862695.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260); height: 100%">
      <div class="jumbotron text-center">
        Thank you <%= contact.firstName %> <%= contact.lastName %>!
      </div>
    </div>
  </body>
</html>
